:host {
    p {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        margin: 0;
    }
}

.border-line {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.table-header {
    text-align: center;
}

.mat-column-id {
    width: 1rem;
    font-size: 1rem;
    text-align: center;

    p {
        font-weight: bold;
    }
}

.mat-mdc-cell,
.mat-mdc-header-cell {
    @extend .border-line;
}

.holiday {
    color: #e34c4c;
}

.weekly-info {
    display: flex;
    justify-content: center;

    button {
        background-color: transparent;
        border: none;
        font-size: 0.9rem;
        cursor: pointer;
    }

    p {
        font-size: 1rem;
        margin: 0.4rem 1rem;
    }
}

.chip {
    margin-left: 0.3rem;
    width: fit-content;
    padding: 0.1rem;
    border-radius: 40%;
    background-color: palevioletred;
    color: white;
}

p.food {
    color: blue;
    font-weight: bolder;
}