mat-card {
    margin-bottom: 1rem;
    background-color: rgba(242, 242, 242, 0.2);
}

.filter-box {
    display: flex;

    .filter {
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .filter-box {
        flex-direction: column;
    }
}

button.main-button {
    margin: 0.3rem;

    &.off {
        background-color: white !important;
        color: black;
    }
}

tr:hover {
    background: whitesmoke;
}

tr:not(.example-expanded-row):active {
    background: #efefef;
}