<mat-form-field [style.margin-right]="'1rem'">
	<mat-label>빠른검색</mat-label>
	<input matInput (keyup)="searchInput($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<button class="main-button" mat-raised-button color="primary" [class.off]="!editMode"
		(click)="filter.open = !filter.open">
	<mat-icon>filter_vintage</mat-icon>
	필터
</button>
<button class="main-button" mat-raised-button color="primary" (click)="addForm()">
	<mat-icon>add_circle_outline</mat-icon>
	추가
</button>
<button class="main-button" mat-raised-button color="warn" [class.off]="!editMode"
		(click)="editMode = !editMode">
	<mat-icon>edit</mat-icon>
	수정({{editMode}})
</button>

<button class="main-button" mat-raised-button color="warn" [class.off]="!deleteMode"
		(click)="changeDeleteMode()">
	<mat-icon>delete</mat-icon>
	삭제({{deleteMode}})
</button>
<button class="main-button" mat-raised-button color="warn" *ngIf="deleteMode"
		(click)="deleteForm()">
	<mat-icon>error_outline</mat-icon>
	정말로삭제하기
</button>

<button class="main-button" mat-raised-button color="warn" [class.off]="!SMSMode"
		(click)="changeSMSMode()">
	<mat-icon> mail_outline</mat-icon>
	복수문자({{SMSMode}})
</button>
<button class="main-button" mat-raised-button color="warn" *ngIf="SMSMode"
		(click)="sendSMSToGuests()">
	<mat-icon>error_outline</mat-icon>
	문자전송(복수)
</button>
<button class="main-button" mat-raised-button color="warn" *ngIf="SMSMode"
		(click)="sendSMSToGuests('BeforeVisit')">
	<mat-icon>error_outline</mat-icon>
	방문직전전송(복수)
</button>
<button class="main-button" mat-raised-button color="warn" *ngIf="SMSMode"
		(click)="sendSMSToGuests('Confirm')">
	<mat-icon>error_outline</mat-icon>
	예약확정전송(복수)
</button>

<mat-card *ngIf="filter.open">
	<mat-card-header>
		<mat-card-title>Filter</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<div class="filter-box">
			<div class="filter">
				<mat-card-subtitle>날짜 범위 선택</mat-card-subtitle>
				<mat-form-field>
					<mat-label>Enter a date range</mat-label>
					<mat-date-range-input [rangePicker]="picker">
						<input matStartDate placeholder="Start date" [(ngModel)]="filter.date[0]">
						<input matEndDate placeholder="End date" [(ngModel)]="filter.date[1]">
					</mat-date-range-input>
					<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-date-range-picker #picker></mat-date-range-picker>
				</mat-form-field>
			</div>

			<div class="filter">
				<mat-card-subtitle>상태 선택</mat-card-subtitle>
				<mat-checkbox [(ngModel)]="statePrepare">대기</mat-checkbox>
				<mat-checkbox [(ngModel)]="stateEdit">수정</mat-checkbox>
				<mat-checkbox [(ngModel)]="stateComplete">예약</mat-checkbox>
				<mat-checkbox [(ngModel)]="stateVisited">방문</mat-checkbox>
				<mat-checkbox [(ngModel)]="stateCancel">취소</mat-checkbox>
			</div>
		</div>
		<div class="filter-box">
			<mat-form-field class="filter">
				<mat-label>예약자 성함</mat-label>
				<input matInput placeholder="홍길동" [(ngModel)]="filter.name">
			</mat-form-field>

			<mat-form-field class="filter">
				<mat-label>전화번호</mat-label>
				<input matInput placeholder="01099998888" type="number" [(ngModel)]="filter.tel">
			</mat-form-field>

			<mat-form-field class="filter">
				<mat-label>차량번호</mat-label>
				<input matInput placeholder="12가1234" [(ngModel)]="filter.car">
			</mat-form-field>
		</div>
	</mat-card-content>
	<mat-card-actions [align]="'end'">
		<button mat-button (click)="initFilterAndList()">초기화</button>
		<button mat-button (click)="applyFilter()">적용</button>
	</mat-card-actions>
</mat-card>

<table mat-table [dataSource]="dataSource" matSort>
	<ng-container matColumnDef="checked">
		<th mat-header-cell *matHeaderCellDef class="checked">
			<mat-checkbox color="Primary"
						  [(ngModel)]="totalChecked"
						  (ngModelChange)="updateAllDataChecked()">{{selectedNumber}}
			</mat-checkbox>
		</th>
		<td mat-cell class="checked" *matCellDef="let element">
			<mat-checkbox color="Primary"
						  [(ngModel)]="element.checked"
						  (ngModelChange)="updateTotalChecked(element)">
			</mat-checkbox>
		</td>
	</ng-container>

	<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>상태</th>
		<td mat-cell *matCellDef="let element" [matMenuTriggerFor]="menu">
			{{element.status}}<span *ngIf="element.type === '평상' && element.money">({{element.money | number}}원)</span>
			<mat-menu #menu="matMenu">
				<button mat-menu-item *ngIf="element.status !== '예약'" (click)="clickStatus(element, '예약')">예약</button>
				<button mat-menu-item *ngIf="element.status !== '방문'" (click)="clickStatus(element, '방문')">방문</button>
				<button mat-menu-item *ngIf="element.status !== '취소'" (click)="clickStatus(element, '취소')">취소</button>
			</mat-menu>
		</td>
	</ng-container>

	<ng-container matColumnDef="date">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>날짜</th>
		<td mat-cell *matCellDef="let element" (click)="clickTable(element)"> {{element.date}} </td>
	</ng-container>

	<ng-container matColumnDef="type">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>유형</th>
		<td mat-cell *matCellDef="let element" (click)="clickTable(element)"> {{element.type}} </td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>이름</th>
		<td mat-cell *matCellDef="let element" (click)="clickTable(element)"> {{element.name}} </td>
	</ng-container>

	<ng-container matColumnDef="order">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>주문</th>
		<td mat-cell *matCellDef="let element" (click)="clickTable(element)">{{element.order}}</td>
	</ng-container>

	<ng-container matColumnDef="memo">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>메모</th>
		<td mat-cell *matCellDef="let element" (click)="clickTable(element)">
			{{element.memo}}/{{element.tel}}/{{element.cars}}</td>
	</ng-container>

	<ng-container matColumnDef="more">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>more</th>
		<td mat-cell *matCellDef="let element">
			<button mat-icon-button [matMenuTriggerFor]="menuMore">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menuMore="matMenu">
				<button mat-menu-item>
					<a href="tel:{{element.tel}}">
						<mat-icon>call</mat-icon>
						<span>전화걸기</span>
					</a>
				</button>
				<button mat-menu-item>
					<a href="sms:{{element.tel}}">
						<mat-icon>mail_outline</mat-icon>
						<span>SMS전송</span>
					</a>
				</button>
				<button mat-menu-item>
					<a href="sms:{{element.tel}}?body={{getSMSText(element, 'Account')}}">
						<mat-icon>mail_outline</mat-icon>
						<span>계좌전송</span>
					</a>
				</button>
				<button mat-menu-item>
					<a href="sms:{{element.tel}}?body={{getSMSText(element, 'Confirm')}}">
						<mat-icon>mail_outline</mat-icon>
						<span>예약확정전송</span>
					</a>
				</button>
				<button mat-menu-item>
					<a href="sms:{{element.tel}}?body={{getSMSText(element, 'BeforeVisit')}}">
						<mat-icon>mail_outline</mat-icon>
						<span>방문직전전송</span>
					</a>
				</button>
			</mat-menu>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>